* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* background-color: #172847; */
  background: linear-gradient(90deg, #6a6a6a 15%, #FFFFFF 85%);
  display: flex;
}

/* Nav section of the dashboard (left)*/

nav {
  width: 180px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav>ul li {
  position: relative;
  flex-direction: column;
  color: white;
  align-items: center;
  margin: 16px 0;
}

nav a {
  text-decoration: none;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

nav>ul>li img {
  width: 25%;
  margin-bottom: 8px;
}

#account {
  height: 100px;
  width: 100px;
}

#logo {
  height: 100px;
  width: 100px;
}

#stocks {
  visibility: hidden;
  padding: 0;
  background-color: #6a6a6a;
  /* background-color: #172847; */
}

#stocks:hover,
nav a:hover~#stocks {
  visibility: visible;
}

#stocks li {
  padding: 8px 8px;
  margin: 0;
}

#stocks a:hover {
  background-color: #01B1DD;
}

/* Main section of the dashboard (right)*/

main {
  width: 100%;
  /* background-color: #F9F5F5; */
  background-color: #f9f9f9;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background: #2196F3;
  color: white;
  padding: 13px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

body {
  height: 100%;
  background: linear-gradient(90deg, #6a6a6a 15%, #FFFFFF 85%);
  position: relative;
}

/* Avatar image */
img.avatar {
  height: 100px;
  width: 100px;

  margin-right: 50%;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1;
  /*Stays on top*/
  top: 0;

}

/* Add padding to containers */
.container {
  padding: 45px;
  margin-left: 50%;
  margin-top: 7%
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.sidebar {
  height: 100%;
  width: 160px;
  top: 0;
  background-color: #6a6a6a;
  overflow-x: hidden;
  /*no horizontal scroll*/
  position: sticky;
  float: left;
  margin-top: 0%;

}

.right {
  float: left;
  height: 1920px;
  width: 1080px;
  padding-top: 50px;
  padding-left: 50px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2596be;
  display: block;
}

.sidebar a:hover {
  color: white;
}

.logout a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2596be;
  display: block;
  margin-bottom: 5%;

}

.logout a:hover {
  color: white;
}

.logout {
  position: sticky;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: top;
  width: 30%;
  background: #f1f1f1;
  position: fixed;
  left: 25%;
  top: 20px;
}

/* Style the submit button */
form.search button {
  float: top;
  width: 5%;
  padding: 10px;
  background: #2596be;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  position: fixed;
  left: 55%;
  top: 20px;
}

.grid-container {
  display: grid;
  gap: 50px;
  padding-left: 25px;
}

.grid-container2 {
  display: grid;
  column-gap: 50px;
  padding-left: 184px;
}

.grid-item1 {
  grid-row: 1;
  border: solid;
  border-width: 2px;
}

.grid-item2 {
  grid-column: 2 / 3;
  grid-row: 1;
  border-style: solid;
  border-width: 2px;
}

.grid-item3 {
  grid-column: 3 / 3;
  grid-row: 1;
  border-style: solid;
  border-width: 2px;
}

.grid-item4 {
  grid-column: 1;
  grid-row: 2;
  border-style: solid;
  border-width: 2px;
}

.grid-item5 {
  grid-column: 2 / 3;
  grid-row: 2;
  border-style: solid;
  border-width: 2px;
}

.grid-item6 {
  grid-column: 3 / 3;
  grid-row: 2;
  border-style: solid;
  border-width: 2px;
}

.grid-item7 {
  grid-column: 1;
  grid-row: 3;
  border-style: solid;
  border-width: 2px;
}

.grid-item8 {
  grid-column: 2 / 3;
  grid-row: 3;
  border-style: solid;
  border-width: 2px;
}

.grid-item9 {
  grid-column: 3 / 3;
  grid-row: 3;
  border-style: solid;
  border-width: 2px;
}

.h3 {
  padding-top: 100px;
  padding-left: 185px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.h {
  padding-left: 186px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.details {
  padding-top: 90px;
}

.active,
.collapsible,
.collapsible2,
.collapsible3,
.collapsible4 {
  background: #2596be;
  cursor: pointer;
  padding: 12px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}